
@import '../helpers/mixins';


$gutter: 20px;

.grid {
  background: white;
  margin: $gutter 0 $gutter 0;
  @include microfix;
}

[class*='col-'] {
  float: left;
  margin-right: $gutter;
  margin-bottom: $gutter;

  .grid &:nth-of-type(4n) {
    margin-right: 0;
  }
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}

@media (min-width: 960px) {
  .col-1-4 {
    width: calc(25% - 15px);
    @include aspect-ratio(1,1)
  }
}

@media (max-width: 960px) {
  .col-1-4 {
    width: calc(50% - 10px);
    @include aspect-ratio(1,1)

  .grid &:nth-of-type(even) {
    margin-right: 0;
  }
  }
}


.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside gutterding */
// .grid-gutter {
//   gutterding: $gutter 0 $gutter $gutter;
//   [class*='col-']:last-of-type {
//     margin-right: $gutter;
//   }
// }
