
@font-face {
    font-family: 'Cantarell-Regular';
    src: url('../../fonts/Cantarell/Cantarell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell-Oblique';
    src: url('../../fonts/Cantarell/Cantarell-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cantarell-BoldOblique';
    src: url('../../fonts/Cantarell/Cantarell-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cantarell-Bold';
    src: url('../../fonts/Cantarell/Cantarell-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TrasandinaBlack';
    src: url('../../fonts/Trasandina/TrasandinaBlack.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TrasandinaMedium';
    src: url('../../fonts/Trasandina/TrasandinaMedium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrasandinaLight';
    src: url('../../fonts/Trasandina/TrasandinaLight.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

$helvetica     : 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$georgia       : Georgia, Cambria, 'Times New Roman', Times, serif !default;
$lucida-grande : 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif !default;
$monospace     : 'Bitstream Vera Sans Mono', Consolas, Courier, monospace !default;
$verdana       : Verdana, Geneva, sans-serif !default;

$cantarell-bold     : 'Cantarell-Bold', $lucida-grande;
$cantarell-boldoblique     : 'Cantarell-BoldOblique', $lucida-grande;
$cantarell-oblique     : 'Cantarell-Oblique', $lucida-grande;
$cantarell-regular     : 'Cantarell-Regular', $lucida-grande;

$transandina-light     : 'TrasandinaLight', $lucida-grande;
$transandina-medium     : 'TrasandinaMedium', $lucida-grande;
$transandina-black     : 'TrasandinaBlack', $lucida-grande;

@mixin helvetica     { font-family: $helvetica; }
@mixin georgia       { font-family: $georgia; }
@mixin lucida-grande { font-family: $lucida-grande; }
@mixin monospace     { font-family: $monospace; }
@mixin verdana       { font-family: $verdana; }

@mixin transandina-light     { font-family: $transandina-light; margin-bottom: -.2em; }
@mixin transandina-medium     { font-family: $transandina-medium; margin-bottom: -.2em; }
@mixin transandina-black     { font-family: $transandina-black; margin-bottom: -.2em; }

@mixin cantarell { font-family: $cantarell-regular; letter-spacing: -.03125em; }
@mixin cantarell-bold { @include cantarell; font-family: $cantarell-bold; }
@mixin cantarell-boldoblique { @include cantarell; font-family: $cantarell-boldoblique; }
@mixin cantarell-oblique { @include cantarell; font-family: $cantarell-oblique; }