@import '../helpers/colors';
@import '../helpers/fonts';
@import '../helpers/layout';

.active-player {
	@include transandina-black;

	/*height: 200px;*/
	margin: 10px 0 5px;
	color: $color-grey-darkest;

	h1 {
		font-size: 1.4em;
		text-transform: uppercase;
	}

	h2 {
		color: $color-grey-dark;
	}

	.player-list {

	    margin-bottom: 0;

		thead {
			tr {
				background: inherit;
				th {
					background: inherit;
					padding: 0;
					font-size: 10px;
					&:after {
						content: none;
					}
				}
			}
		}

		&.batter, 
		&.pitcher {
			thead {
				tr {
					background:inherit;
				}
			}
		}

		tr {
			position: relative;

			td {
				position: relative;
			    padding: 10px;
			    font-size: 16px;
			    background: inherit;

			    &:first-child {
					&:after {
						content: '';
					    position: absolute;
					    height: 100%;
					    width: 100px;
					    top: 0;
					    right: 100%;
						background: $color-batter-alt;
					}
			    }

			    @include width-under($bp-small) {
			    	font-size: 12px;
			    }
			}

			&:hover {
				td {
				    &:first-child {
						&:after {
							background: $color-batter-highlight;
						}
				    }
			    }
			}
		}

		&:hover {
			&.batter,
			&.pitcher {
				thead {
					background: inherit;
				}
			}

			&.batter {
				td {
					&:hover {
						background: $color-batter-input-hover;
					}
				}
			}
			&.pitcher {
				td {
					&:hover {
						background: $color-pitcher-input-hover;
					}
				}
			}
		}
	}

	image {
		width: 100%;
	}

	.player-avatar {
		position: relative;
		display: inline-block;
		width: 30%;
		z-index: 1;
		img {
			width: 100%;
		}
	}

	.player-info-panel {
		display: inline-block;
		width: 70%;
	    vertical-align: bottom;
	}

	.player-info-container,
	.player-news-container {
		display: inline-block;
		vertical-align: bottom;
		padding: 0 0 0 10px;
		margin-bottom:10px;
	}

	.player-info-container {
		width: calc(40% - 10px);
		margin-right: 10px;

		.player-value {
			@include width-over($bp-small) { font-size: 4em; }
			@include width-under($bp-small) { font-size: 4em; }
			@include width-over($bp-medium) { font-size: 5em; }
			@include width-over($bp-large) { font-size: 6em; }

		    margin-bottom: -.2em;
			color: $color-batter-dark-blue;
			.dollar-amount {
			    margin-left: 0.2em;
				&:after {
				    font-size: 0.4em;
				}
			}
		}

		.player-buttons {
			display: inline-block;
			vertical-align: top;
		}

		.icon-button {
		    display: inline-block;
		    vertical-align: top;
		    width: 30px;
		    height: 30px;
		    margin-top: 5px;
		    margin-left: 5px;
		    margin-right: 0;
		}
	}

	.player-news-container {
		position: relative;
		width: 60%;
		height: 125px;
		padding: 0;
		overflow: auto;

		p {
			@include cantarell
			font-size: 14px;
		}

		> h2 {
		    padding-left: 20px;
		}
	}

	.player-news {
		height: calc(100% - 2em - 14px);
	    vertical-align: top;
	    padding-left: 20px;
	    overflow: auto;
	}

	.player-cost {
		@include cantarell;

	    width: 100%;
	    padding: 7px;
	    margin: 3px 0;

	    background: $color-grey-medium;

	    text-align: center;

	    .dollar-amount {
			@include cantarell;
	    }
	}

	.team-name {
		font-size: 12px;
		margin: 5px 0;
	}
}