@import '../init';

body {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

.clear-both {
	clear: both;
}

.app {
}

.headings {
	@include transandina-medium;
	text-transform: uppercase;
}

.page {
	padding: 2.5% 100px;
	clear: both;

	@include width-under($bp-medium) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

button {
	@include button;
	position: relative;
}

input {
	&:focus {
		outline: none;
	}
}

.section-with-sidebar {
	.sidebar {
		width: 140px;
		float: left;

		button {
			width: 100%;
			text-align: center;
		}

		@include width-under($bp-small) {
			width: 100%;
			float: none;
		}
	}

	.main {
		width: calc(100% - 150px);
		float: right;

		@include width-under($bp-small) {
			width: 100%;
			float: none;
		}
	}
}