@import '../init';

body {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

.clear-both {
	clear: both;
}

.app {
}

.headings {
	@include transandina-medium;
	text-transform: uppercase;
}

.page {
	padding: 2.5% 100px;

	@include width-under($bp-medium) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

button {
	font-family: "TrasandinaMedium", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    border: 1px solid $color-grey-lightest;
    cursor: pointer;
    text-transform: uppercase;
    &:hover,
    &.active {
    	background: $color-grey-lightest;
    }
}

input[type=text] {
	&:focus {
		outline: none;
	}
}