@import '../helpers/colors';

.icon-button {
	width: 30px;
	height: 30px;
	padding: 3px;

	cursor: pointer;

	border-color: $color-batter-dark-blue;
	/*background: $color-batter-dark-blue;*/

	svg {
		fill: $color-batter-dark-blue;
	}

	
	&:hover {
		background: $color-batter-default;
	}

	&.active {
		/*border-color: $color-batter-dark-blue;*/
    	background: $color-batter-dark-blue;
    	svg {
    		fill: white;
    	}
    }

    &.disabled {
    	pointer-events: none;
    	opacity: 0.5;
    }
}

.icon {
	width: 100%;
	height: 100%;
}