@import '../helpers/fonts';

.input-toggle {
	@include cantarell;
	padding: 3px 5px;

	text-align: center;

	.value-select {
		height: 1em;
		line-height: 1em;
		background: inherit;
		text-align: center;
	}

	.value-display {
		height: 1em;
		line-height: 1em;
		cursor: pointer;
	}

	input {
		margin: 0;
	}

	&.showing-input {

	}

	&.is-disabled {
		.value-display {
			cursor: default;
			outline: none;
		}
	}
}