@import '../init';

.league-settings {
	@include cantarell

	.settings {
		display: flex;
		margin: 20px 0;
		padding: 20px;
		width: 100%;
		background: $color-grey-light;
		text-align: center;
	}

	.settings-property {
		margin: 5px;
		flex: 1 1 1em;
	}

	.input-toggle {
		background: white; //$color-grey-medium;
		border-radius: 5px;

		&.showing-input {
			background: $color-grey-lightest;
		}
	}
}