@import '../helpers/colors';
@import '../helpers/fonts';

.league-settings {
	@include cantarell

	.settings {
		display: flex;
		margin: 20px 0;
		padding: 20px;
		width: 100%;
		background: $color-grey-light;
		text-align: center;
	}

	.settings-property {
		margin: 5px;
		flex: 1 1 1em;
	}

	.input-toggle {
		background: white; //$color-grey-medium;
		border-radius: 5px;

		&.showing-input {
			background: $color-grey-lightest;
		}
	}

	.position-settings {
		margin-bottom: 3em;
	}

	.position-settings-container {
		display: flex;
		flex-wrap: wrap;
	}

	.position-setting {
		min-width: 25%;
		margin: 10px 0;

		.sgpd-container {
			background: $color-batter-alt;
			padding: 6px 3px;
			margin: 0 5px;
		}

		.input-toggle {
			margin-left: 5px;
		}
	}
	
}