@import '../init';

.player {
	@include cantarell;
	position: relative;

	&.batter {
		background: $color-batter-default;

		&:nth-child(odd) {
			background: $color-batter-alt;
		}

		.dark {
			background: $color-batter-muted;

			&.can-edit{
				&:hover {
					background: $color-batter-input-hover
				}
			}
		}

		&.is-editing {
			background: $color-batter-highlight;
			/*border: 2px solid $color-batter-highlight;
			z-index: 5;
			box-shadow: 0 0 5px $color-batter-dark-grey;*/

			.dark {
				background: $color-batter-highlight;
			}

			&.selected {
				td {
					background: $color-batter-highlight;
				}
			}
		}

		&:hover {
			background: $color-batter-highlight;

			.dark {
				background: $color-batter-highlight;
			}
		}
	}

	&.pitcher {
		background: $color-pitcher-default;

		&:nth-child(odd) {
			background: $color-pitcher-alt;
		}

		.dark {
			background: $color-pitcher-muted;
		}

		&:hover {
			background: $color-pitcher-highlight;

			.dark {
				background: $color-pitcher-highlight;
			}
		}
	}

	&.selected {
		td {
			background: $color-batter-dark-grey;
		}

		.dark {
			background: $color-batter-dark-grey;
		}

		&:hover {
			.dark {
				background: $color-batter-dark-grey;
			}
		}
	}

	textarea,
	input {
		outline: none;
	}

	.categories{
		text-align: center;
	}

	.is-complete {
		background: $color-input-success;
		color: $color-input-success;
	}

	.favorite-toggle {
		/*background-image:url('~!file!../../images/star.png');*/
	    background-size: 50%;
	    background-repeat: no-repeat;
	    background-position: center;
	    cursor: pointer;

	    &.favorited {
	    	/*background-image: url('~!file!../../images/star.png');*/
	    }
	}

	.slot-price,
	.slot-budget, {
		&:before {
			@include super-script('$');
		}

		.cost-selected & {
			color: $color-batter-dark-grey;
		}
	}

	input {
		width: 100%;
		height: 100%;
		background: none;
	}

	::-webkit-input-placeholder {
		vertical-align: middle;
		font-size: 14px;
	}

	.batters & {
		::-webkit-input-placeholder {
			color: $color-batter-dark-grey;
		}


	}
	.pitchers & {
		::-webkit-input-placeholder {
			color: $color-pitcher-dark-purple;
		}


	}

	.edit-player {
		cursor: pointer;
		&:hover {
			background: red;
		}
	}

	input[type="checkbox"] {
		background-color: $color-batter-default;
	}

	.display-value-td {
		cursor: pointer;

		> * {
			pointer-events: none;
		}
	}

	@include width-under($bp-small) {
		font-size: 8px;
	}

	.icon-button {
	    margin: 0;
	    width: 20px;
	    height: 20px;
	    padding: 0;
	    border-width: 0;
	    background: $color-batter-highlight;
	}


	&:hover {
		.icon-button {
			&:not(.active) {
				background: white;
			}

		}
	}
}
