@import '../helpers/colors';
@import '../helpers/fonts';
@import '../helpers/layout';

.player-input {
	@include cantarell;

	letter-spacing: inherit;
	width: 100%;

    border-radius: 5px;
	background: $color-grey-light;

	margin: 10px 0;

	form {
		display: block;
		margin: auto;
		/*margin-bottom: 10px;*/
		padding:10px;
		text-align: center
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color: $color-batter-dark-grey;
		}

		& > * {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	input {
		outline: none;
		background: none;
		border-radius: 3px;
	}

	.player-input-box {
		min-width: 225px;
		@include width-under($bp-small) {
			min-width: inherit;
		}
	}

	.player-input-box,
	.cost-container {

		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
		padding: 10px 10px;

		border-radius: 3px;
		background: $color-grey-lightest;

		font-size: 16px;
	    line-height: 18px;

	    letter-spacing: -1px;

		text-align: center;
		text-transform: uppercase;

		&.cost-input {
			padding: 10px;
			min-width: 0;
		}

		&:focus {
	    	background: $color-batter-highlight;
	    }

		@include width-under($bp-small) {
			font-size: 12px;
		}
	}

	.cost-container {
		padding: 10px;
		width: 50px;
		 &.is-editing {
	    	background: $color-batter-highlight;
		}
		.player-input-box.cost-input {
			padding: 0;
		}
	}

	.submit {
		min-width: inherit;
		padding-top: 11px;
		padding-bottom: 11px;

		font-size: 12px;

	    cursor: pointer;
	    &:hover,
	    &:focus {
	    	background: $color-batter-highlight;
	    }

	    @include width-under($bp-small) {
			font-size: 8px;
		}
	}
	/*.suggested-search-box {
	    width: calc(40% - 10px);
	}
	.cost-container {
		width: calc(10% - 10px);
	}
	.submit {
		width: 10%;
	}*/
	.suggested-search-box,
	.cost-container,
	.submit {
		width: auto;
	}
}

