@import '../helpers/colors';

.player {
	textarea,
	input {
		outline: none;
	}

	.categories{
		text-align: center;
	}

	.is-complete {
		background: $color-input-success;
		color: $color-input-success;
	}

	.favorite-toggle {
		/*background-image:url('~!file!../../images/star.png');*/
	    background-size: 50%;
	    background-repeat: no-repeat;
	    background-position: center;
	    cursor: pointer;

	    &.favorited {
	    	/*background-image: url('~!file!../../images/star.png');*/
	    }
	}

	.slot-price,
	.slot-budget, {
		&:before {
			@include super-script('$');
		}

		.cost-selected & {
			color: $color-batter-dark-grey;
		}
	}

	input {
		width: 100%;
		height: 100%;
		background: none;
	}

	::-webkit-input-placeholder {
		vertical-align: middle;
		font-size: 14px;
	}

	.batters & {
		::-webkit-input-placeholder {
			color: $color-batter-dark-grey;
		}


	}
	.pitchers & {
		::-webkit-input-placeholder {
			color: $color-pitcher-dark-purple;
		}


	}

	.edit-player {
		cursor: pointer;
		&:hover {
			background: red;
		}
	}

	input[type="checkbox"] {
		background-color: $color-batter-default;
	}

	.display-value-td {
		cursor: pointer;

		> * {
			pointer-events: none;
		}
	}

	@include width-under($bp-small) {
		font-size: 8px;
	}

	.icon-button {
	    margin: 0;
	    width: 20px;
	    height: 20px;
	    padding: 0;
	    border-width: 0;
	    /*background: $color-batter-highlight;*/
	}


	&:hover {
		.icon-button {
			&:not(.active) {
				background: white;
			}

		}
	}
}