@import '../init';


.player-lists-container{

}

.player-lists-filters {
	width: 140px;
	float: left;
	.player-list-filter {
		@include transandina-medium;
	    width: 100%;

		padding: .65em .65em .4em;
		margin: 0px 10px 10px 0;

		border-radius: 5px;

		cursor: pointer;

	    color: $color-grey-medium;
	    text-align: center;
		text-transform: uppercase;

		border: 1px solid $color-grey-medium;

		&:hover,
		&.active {
			color: $color-grey-darkest;
		}

		&.pos {
			width: calc(33% - 3px);
			margin-right: 5px;
			float: left;

			&.last {
				margin-right: 0;
			}
		}

		@include width-under($bp-small) {
			width: 100%;
			float: none;
		}
	}
	input[type=text] {
		border-color: $color-grey-lightest;
		color: $color-grey-lightest;
		text-align: left;

		&:focus,
		&.hover {
			border-color: $color-grey-medium;
			color: $color-grey-darkest;
		}
	}


	::-webkit-input-placeholder {
		color: $color-grey-light;
	}

	@include width-under($bp-small) {
		width: 100%;
		float: none;
	}
}



.player-lists-main {
	width: calc(100% - 150px);
	float: right;

	@include width-under($bp-small) {
		width: 100%;
		float: none;
	}
}

.player-list-container {
	position: relative;

	.combined-rankings & {
/*		width: 50%;
		float: left;
		padding-right: 0;

		&:not(:first-child) {
			padding-left: 0;
		}
*/
		.player-rankings {
			width: 100%;
		}
	}
}

.player-lists-header{
	width: 75%;
    margin-left: 150px;
    display: inline-block;

    @include width-under($bp-small) {
	    width: 100%;
	    margin-left: 0;
    }
}

.hide-selected-container {
	@include cantarell
    width: calc(25% - 150px);
	display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
    padding-left: 10px;

    font-size: 12px;

    .hide-selected-text {
	    width: calc(100% - 15px);
	    display: inline-block;
	    margin-left: 3px;
    }
}

.player-list,
.favorited-player-list {
	width: 100%;
	height: auto;
	min-height: 30px;
	margin-bottom: 10px;

	table-layout: fixed;

	font-size: 12px;

	.position {
		cursor: pointer;
	}

	tr {
		text-align: center;
		padding: 10px;
		border: solid white;
		border-width: 1px 0;

		&:not(.selected) {
			.position {
				/*
				&.catcher { background: $color-catcher; }
				&.first-base { background: $color-first-base; }
				&.second-base { background: $color-second-base; }
				&.third-base { background: $color-third-base; }
				&.short-stop { background: $color-short-stop; }
				&.outfield { background: $color-outfield; }
				&.starting-pitcher { background: $color-starting-pitcher; }
				&.closer { background: $color-closer; }
				&.relief-pitcher { background: $color-relief-pitcher; }
				*/
			}

			&:hover {
				.position {
					background: inherit;
				}

				&.catcher,
				&.first-base,
				&.second-base,
				&.third-base,
				&.short-stop,
				&.outfield,
				&.starting-pitcher,
				&.closer,
				&.relief-pitcher { background: inherit; }

			}

		}
	}

	td {
		vertical-align: middle;

	    padding: 15px 5px;
		border: solid;
		border-width: 0;

		&.can-edit {
			&:hover {
				background: $color-batter-input-hover;
			}
		}
	}

	.headings {
		td {
			position: relative;
			background: $color-batter-alt;
			cursor: pointer;

			padding: 8px 0;

			&:hover {
				background: $color-grey-medium;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 50%;
				bottom: 0;
				left: 0;
				border-style: solid;
				border-width: 0 1px 5px 0;
				border-color: #bdc2c9;
				z-index: 1;
			}

			&:last-child {
				&:after {
					border-right-width: 0;
				}
			}
		}
	}


	 &.batter,
	 &.pitcher {

		.number,
		.value-info,
		.player-info {
			width: 6%;
		}

		.name {
			width: inherit;
		}
	}

	.value-info {
	}

}

.player-cost {
    display: inline-block;
    width: calc(100% - 10px);
    padding: 3px;
    border-radius: 3px;
    background: lightgrey;
    text-transform: uppercase;

    .dollar-amount {
    	@include cantarell-bold;
    }
}