@import '../init';

.player {
	@include cantarell;
	position: relative;

	&.batter {
		background: $batter-row;

		&:nth-child(odd) {
			background: $batter-row-alt;
		}

		.dark {
			background: $batter-row-muted;

			&.can-edit{
				&:hover {
					background: $batterEditHover
				}
			}
		}

		&.is-editing {
			background: $batter-highlight;
			/*border: 2px solid $batter-highlight;
			z-index: 5;
			box-shadow: 0 0 5px $batter-dark;*/

			.dark {
				background: $batter-highlight;
			}

			&.selected {
				td {
					background: $batter-highlight;
				}
			}
		}

		&:hover {
			background: $batter-highlight;

			.dark {
				background: $batter-highlight;
			}
		}
	}

	&.pitcher {
		background: $pitcher;

		&:nth-child(odd) {
			background: $pitcherAlt;
		}

		.dark {
			background: $pitcherMuted;
		}

		&:hover {
			background: $pitcherHighlight;

			.dark {
				background: $pitcherHighlight;
			}
		}
	}

	&.selected {
		td {
			background: $batter-dark;
		}

		.dark {
			background: $batter-dark;
		}

		&:hover {
			.dark {
				background: $batter-dark;
			}
		}
	}

	textarea,
	input {
		outline: none;
	}

	.categories{
		text-align: center;
	}

	.is-complete {
		background: $success;
		color: $success;
	}

	.favorite-toggle {
		/*background-image:url('~!file!../../images/star.png');*/
	    background-size: 50%;
	    background-repeat: no-repeat;
	    background-position: center;
	    cursor: pointer;

	    &.favorited {
	    	/*background-image: url('~!file!../../images/star.png');*/
	    }
	}

	.slot-price,
	.slot-budget, {
		&:before {
			@include super-script('$');
		}

		.cost-selected & {
			color: $batter-dark;
		}
	}

	input {
		width: 100%;
		height: 100%;
		background: none;
	}

	::-webkit-input-placeholder {
		vertical-align: middle;
		font-size: 14px;
	}

	.batters & {
		::-webkit-input-placeholder {
			color: $batter-dark;
		}


	}
	.pitchers & {
		::-webkit-input-placeholder {
			color: $pitcherDark;
		}


	}

	.edit-player {
		cursor: pointer;
		&:hover {
			background: red;
		}
	}

	input[type="checkbox"] {
		background-color: $batter-row;
	}

	.display-value-td {
		cursor: pointer;

		> * {
			pointer-events: none;
		}
	}
}
