@import '../helpers/colors';

.search-results {
	position: absolute;
	display: none;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;

    border: 1px solid grey;
    background: white;

    z-index: 2;

    &.active {
    	display:block;
    }

    li {
    	cursor: pointer;
		padding: 6px;

	    font-size: 12px;
	    text-transform: uppercase;
	    text-align: center;
	}

	border-color: $color-batter-alt;

	li {
		background-color: $color-batter-default;

		&:nth-child(odd) {
			background-color: $color-batter-alt;
		}

		&.selected {
			background-color: $color-batter-highlight;
		}
	}


    .pitchers & {
    	border-color: $color-pitcher-alt;

    	li {
			background-color: $color-pitcher-default;

			&:nth-child(odd) {
				background-color: $color-pitcher-alt;
			}

			&.selected {
				background-color: $color-pitcher-highlight;
			}
		}
	}
}
