@import '../init';

.suggested-search-box {
	position: relative;
	display: inline-block;

	&.is-editing {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			pointer-events: none;
			border: 3px solid $color-batter-dark-grey;
		}
	}

	.search-results {
		position: absolute;
		width: 100%;
	}

	.input-toggle {
		padding: 0;
	}
}

.batter {
	.is-editing {
		background: $color-batter-default;
	}
}
.pitcher {
	.is-editing {
		background: $color-pitcher-default;
	}
}

.is-positive {
	color: $color-number-positive;
}

.is-negative {
	color: $color-number-negative;
}
