@import '../helpers/colors';
@import '../helpers/fonts';

.team-tabs {
	@include transandina-medium
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid $color-batter-default;

	.team-tab {
		display: inline-block;
		padding: 4px 7px;
		cursor: pointer;

		&:hover,
		&.active {
			background-color: $color-batter-highlight;
		}

		&:not(:last-child) {
			border-right: 1px solid $color-batter-default;
		}
	}
}

.team {
	/*display: flex;*/
	border: 1px solid $color-batter-default;
	padding: 5px;
	margin: 5px 0;

	.team-name {
		padding: 6px 0;
	}
}
