@import '../helpers/colors';
@import '../helpers/fonts';

.value-sub-value-display {
	font-size: 1em;

	.heading {
		@include transandina-light;
		font-size: 0.625em;
	}

	.value,
	.sub-value {
		display: inline-block;
		vertical-align: bottom;
	}

	.value-amount-container {
		font-size: 3em;
	}

	.value-amount {
		@include transandina-black ;
		color: $color-batter-dark-grey;
	}

	.value {
		.value-amount-container {
			margin: 5px 0 0;
			padding: 0.125em 0.25em;
			background: $color-neutral;
			border-radius: 4px;
		}
	}

	.sub-value {
		margin-left: 5px;
		color: $color-batter-dark-grey;
		.value-amount {
			font-size: 0.75em;
			color: $color-batter-dark-grey;
		}
	}
}