$red        : #f00;
$black      : #222;
$white      : #fefefe;
$gray		: grey;

$link-color : $red;


$batterEditHover: #CBDEEA;

$pitcher : #E2D7E2;
$pitcherDark : #5D545D;
$pitcherAlt : #D2C7D2;
$pitcherHighlight: #FFF6FF;
$pitcherMuted: rgba(93, 81, 93, 0.6);

$success: #A9E2A9;

$positive: green;
$negative: red;

$neutral: lightgrey;


$catcher: rgba(133,149,176,0.65); //#8595B0;
$first-base: rgba(100,139,201,.65); //#648BC9;
$second-base: rgba(190,214,252,.65); //#BED6FC;
$third-base: rgba(142,185,252,.65); //#8EB9FC;
$short-stop: rgba(160,176,255,.65); //#A0B0FF;
$outfield: rgba(171,197,230,.65); //#ABC5E6;
$starting-pitcher: rgba(186,171,230,.65); //#BAABE6;
$closer: rgba(153,111,201,.65); //#996FC9;
$relief-pitcher: rgba(172,137,212,.65); //#AC89D4;

$lightest-grey: #f2f2f2;
$light-grey: #cecece;
$medium-grey: #b7b7b7;
$dark-grey: #4d4d4d;

$headings: #d7dfeb;
$headings-border: #bdc2c9;

$batter-row : #e5e9ef;
$batter-row-alt : #d7dfeb;
$batter-dark : #8e9194;
$batter-highlight: #F3F6F9;
$batter-row-muted: rgba(101, 113, 121, 0.6);

$sub-heading: #878787;
$heading: $dark-grey;
$price: #98a1ad;