@import '../init';

body {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

.clear-both {
	clear: both;
}

.app {
    height: 100vh;
    overflow-y: scroll;
}

.headings {
	@include transandina-medium;
	text-transform: uppercase;
}