@import '../init';

body {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

.clear-both {
	clear: both;
}

.app {
}

.headings {
	@include transandina-medium;
	text-transform: uppercase;
}

.page {
	padding: 2.5% 100px;
}