.cost-selector {
	position: relative;

	&.is-editing {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			pointer-events: none;
			border: 3px solid $batterDark;
		}
	}
}

.batter {
	.is-editing {
		background: $batter;
	}
}
.pitcher {
	.is-editing {
		background: $pitcher;
	}
}
