@import '../init';

.favorited-player-list {
	margin-bottom: 0;
	.player {
		cursor: pointer;
	}

	.name {
		width: 70%;
	}
	.number,
	.value-info {
		width: 10%;
	}

	 &.batter {
		background: $batter-row;
		.player-info,
		.player-type {
			background: $batter-dark;
		}
		.player-info {
			&:hover {
				background: $batter-highlight;
			}
		}
	}
	 &.pitcher {
		background: $pitcher;
		.player-info,
		.player-type {
			background: $pitcherDark;
		}
		.player-info {
			&:hover {
				background: $pitcherHighlight;
			}
		}
	}
}

/*
.favorited-players {
    position: absolute;
    height: 100vh;
	width: 15%;
    overflow-y: scroll;
	display:inline-block;
	float:left;
	background: $batter-dark;
	z-index:5;
}*/
