@import '../init';

.player-list-container {
	position: relative;

	.combined-rankings & {
		width: 50%;
		float: left;
		padding: 3%;
		padding-right: 0;

		&:not(:first-child) {
			padding-left: 0;
			padding-right: 3%;
		}

		.player-rankings {
			width: 100%;
		}
	}
}

.player-list {
	width: 100%;
	height: auto;
	min-height: 30px;
	margin-bottom: 10px;

	table-layout: fixed;

	font-size: 12px;

	tr {
		text-align: center;
		padding: 10px;

		&:not(.selected) {
			.position {
				&.catcher { background: $catcher; }
				&.first-base { background: $first-base; }
				&.second-base { background: $second-base; }
				&.third-base { background: $third-base; }
				&.short-stop { background: $short-stop; }
				&.outfield { background: $outfield; }
				&.starting-pitcher { background: $starting-pitcher; }
				&.closer { background: $closer; }
				&.relief-pitcher { background: $relief-pitcher; }
			}

			&:hover {
				.position {
					background: inherit;
				}

				&.catcher,
				&.first-base,
				&.second-base,
				&.third-base,
				&.short-stop,
				&.outfield,
				&.starting-pitcher,
				&.closer,
				&.relief-pitcher { background: inherit; }

			}

		}
	}

	td {
		vertical-align: middle;
		padding: 6px 3px;
		border: solid;
		border-width: 0;

		&.can-edit {
			&:hover {
				background: white
			}
		}
	}

	 &.batter {

		.player {
			background: $batter;

			&:nth-child(odd) {
				background: $batterAlt;
			}

			.dark {
				background: $batterMuted;

				&.can-edit{
					&:hover {
						background: white
					}
				}
			}

			&.is-editing {
				background: $batterHighlight;
				/*border: 2px solid $batterHighlight;
				z-index: 5;
				box-shadow: 0 0 5px $batterDark;*/

				.dark {
					background: $batterHighlight;
				}

				&.selected {
					td {
						background: $batterHighlight;
					}

				}
			}

			&:hover {
				background: $batterHighlight;

				.dark {
					background: $batterHighlight;
				}
			}
		}
		tr,
		td {
			border-color: $batterDark;
		}

		.selected {
			td {
				background: $batterDark;
			}

			.dark {
				background: $batterDark;
			}

			&:hover {
				.dark {
					background: $batterDark;
				}
			}
		}
	}

	&.pitcher {

		.player {
			background: $pitcher;

			&:nth-child(odd) {
				background: $pitcherAlt;
			}

			.dark {
				background: $pitcherMuted;
			}

			&:hover {
				background: $pitcherHighlight;

				.dark {
					background: $pitcherHighlight;
				}
			}
		}
		tr,
		td {
			border-color: $pitcherDark;
		}
		.selected {
			td {
				background: $pitcherDark;
			}

			.dark {
				background: $pitcherDark;
			}

			&:hover {
				.dark {
					background: $pitcherDark;
				}
			}
		}
	}

	textarea,
	input {
		outline: none;
	}

	.categories{
		text-align: center;
	}

	.player-info {
		background: $gray;
		cursor: pointer;

		&:hover {
			background: lightgrey;
		}
	}

	.name {
		width: 20%;
	}

	.number,
	.value-info {
		width: 5%;
	}

	.value-info {
	}

	.is-complete {
		background: $success;
		color: $success;
	}

	.favorite-toggle {
		background-image:url('~!file!../../images/star.png');
	    background-size: 50%;
	    background-repeat: no-repeat;
	    background-position: center;
	    cursor: pointer;

	    &.favorited {
	    	background-image: url('~!file!../../images/star.png');
	    }
	}
}
