@import '../init';

.player {
	@include cantarell;
	position: relative;

	.slot-price,
	.slot-budget, {
		&:before {
			@include super-script('$');
		}

		.cost-selected & {
			color: $batter-dark;
		}
	}

	input {
		width: 100%;
		height: 100%;
		background: none;
	}

	::-webkit-input-placeholder {
		vertical-align: middle;
		font-size: 14px;
	}

	.batters & {
		::-webkit-input-placeholder {
			color: $batter-dark;
		}


	}
	.pitchers & {
		::-webkit-input-placeholder {
			color: $pitcherDark;
		}


	}

	.edit-player {
		cursor: pointer;
		&:hover {
			background: red;
		}
	}
	input[type="checkbox"] {
		background-color: $batter-row;
	}
}
